<footer class="w-full py-1 flex flex-wrap justify-center items-center absolute bottom-0 left-0 bg-main-general-pink">
  <p class="text-white">上線時間不固定 有在都會回ㄛ！</p>
  <p class="text-white">沒回應歡迎繼續吵我 :P</p>
</footer>