<div id="go-top" class="border-main-deep-pink border-4 fixed z-10 bg-transparent rounded-full w-16 h-16 bottom-16 right-5 cursor-pointer transition-all hover:bg-white hover:bg-opacity-80">
  <div class="bg-main-deep-pink top transform -rotate-90 w-2/3 h-2/3 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"></div>
</div>